name: Build Signed APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Decode keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > app/signing.keystore

      - name: Grant gradlew permission
        run: chmod +x gradlew

      - name: Build Release APK
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: chikkeh
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: ./gradlew assembleRelease -PVERSION_CODE=49

      - name: LIST APK FILES (IMPORTANT)
        run: find app/build/outputs/apk -type f

      - name: Verify APK
        run: |
          APK=app/build/outputs/apk/release/app-release.apk
          $ANDROID_HOME/build-tools/34.0.0/apksigner verify --verbose $APK
